@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Raleway';
#centerItems {
  left: 0;
  line-height: 200px;
  margin-top: -150px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
html {
  overflow-x: hidden;
}
html,
body {
  margin-top: 0;
  padding-top: 0;
  height: 100%;
  width: 100%;
}
h1 {
  margin: 0;
}
/*=========Navigation==============*/
.navbar {
  background: rgba(0, 0, 0, 0);
  padding: 15px 0px;
  margin-bottom: 0;
  border: none;
  font-size: 15px;
  -webkit-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.navbar-default .navbar-nav li a {
  color: #fff;
}
.navbar-default .navbar-nav li a:hover {
  color: #f5f7d8;
}
.logo {
  width: 50px;
}
/*=========Homepage========*/
#homeButtons {
  font-weight: 700;
  font-size: 20px;
  border: none;
  width: 190px;
  height: 60px;
  margin: 0px 10px;
  border-radius: 0 !important;
}
#homeButtonsMobile {
  font-weight: 700;
  font-size: 15px;
  border: none;
  width: 160px;
  height: 50px;
  margin: 5px 0 5px 20px;
  border-radius: 0 !important;
  display: block;
}
@media screen and (min-width: 785px) {
  .main-hero-bg {
    height: 995px;
    width: 100%;
    opacity: 1;
    background: url(images/photodune-10414652-on-the-c.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: -50px;
    position: relative;
  }
  .headerInfo {
    left: 0;
    line-height: 200px;
    margin-top: -150px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
  }
  .headerInfo h1 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
  }
  .headerInfo h4 {
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
  }
  #signUpBtn {
    background-color: #fdde33;
    color: #326e8a;
    font-weight: 700;
    font-size: 20px;
    border: none;
    width: 190px;
    height: 60px;
    margin: 0px 10px;
    border-radius: 0 !important;
  }
  #signUpBtn:hover {
    background-color: #cdb42b;
  }
  #learnMoreBtn {
    background-color: #326e8a;
    color: #fdde33;
    font-weight: 700;
    font-size: 20px;
    border: none;
    width: 190px;
    height: 60px;
    margin: 0px 10px;
    border-radius: 0 !important;
  }
  #learnMoreBtn:hover {
    background-color: #2a5b72;
  }
  .scrollArrowOuter {
    /* Make parent elemnts width 100% so child (scrollArrow) can center*/
    position: absolute;
    bottom: 10px;
    width: 100%;
  }
  .scrollArrow {
    width: 70px;
    height: 70px;
    margin: 0px auto;
    border: 1px solid #fff;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0);
    color: #fff;
    -webkit-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
  }
  .scrollArrow:hover {
    background: #326e8a;
    color: #fdde33;
    border-color: #fdde33;
  }
  .scrollArrow span {
    margin-left: 10px;
  }
}
@media screen and (max-width: 785px) {
  .main-hero-bg {
    height: 667px;
    width: 100%;
    opacity: 1;
    background: url(images/photodune-10414652-on-the-c.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: -50px;
    position: relative;
  }
  .headerInfo {
    left: 0;
    line-height: 200px;
    margin-top: -150px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
  }
  .headerInfo h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
  }
  .headerInfo h4 {
    color: #fff;
    font-size: 15px;
  }
  #signUpBtn {
    background-color: #fdde33;
    color: #326e8a;
    font-weight: 700;
    font-size: 15px;
    border: none;
    width: 160px;
    height: 50px;
    margin: 5px 0 5px 20px;
    border-radius: 0 !important;
    display: block;
  }
  #signUpBtn:hover {
    background-color: #cdb42b;
  }
  #learnMoreBtn {
    background-color: #326e8a;
    color: #fdde33;
    font-weight: 700;
    font-size: 15px;
    border: none;
    width: 160px;
    height: 50px;
    margin: 5px 0 5px 20px;
    border-radius: 0 !important;
    display: block;
  }
  #learnMoreBtn:hover {
    background-color: #2a5b72;
  }
  .scrollArrowOuter {
    /* Make parent elemnts width 100% so child (scrollArrow) can center*/
    position: absolute;
    bottom: 10px;
    width: 100%;
  }
  .scrollArrow {
    width: 35px;
    height: 35px;
    margin: 0px auto;
    border: 1px solid #fff;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0);
    color: #fff;
    -webkit-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
  }
  .scrollArrow:hover {
    background: #326e8a;
    color: #fdde33;
    border-color: #fdde33;
  }
  .scrollArrow span {
    margin-left: 5px;
    font-size: 7px;
  }
}
/*========Second Section =======*/
#sections {
  width: 33.33%;
  height: 100%;
  display: inline-block;
  margin: 0px -2px 75px -2px;
  padding: 0;
}
#sections img {
  margin: 0px auto;
}
#sectionsMobile {
  height: 100%;
  margin: 0px -2px;
  padding: 0px 5px;
}
#sectionsMobile img {
  margin: 10px auto;
  width: 200px;
}
.secSectionTitle {
  margin: 75px 0;
}
@media screen and (min-width: 785px) {
  .secondSection {
    position: relative;
    width: 100%;
    text-align: center;
  }
  .secondSection h1 {
    font-size: 40px;
    padding: 15px 0px;
  }
  .secSectionColumn1 {
    width: 33.33%;
    height: 100%;
    display: inline-block;
    margin: 0px -2px 75px -2px;
    padding: 0;
  }
  .secSectionColumn1 img {
    margin: 0px auto;
  }
  .secSectionColumn2 {
    width: 33.33%;
    height: 100%;
    display: inline-block;
    margin: 0px -2px 75px -2px;
    padding: 0;
  }
  .secSectionColumn2 img {
    margin: 0px auto;
  }
  .secSectionColumn3 {
    width: 33.33%;
    height: 100%;
    display: inline-block;
    margin: 0px -2px 75px -2px;
    padding: 0;
  }
  .secSectionColumn3 img {
    margin: 0px auto;
  }
}
@media screen and (max-width: 785px) {
  .secondSection {
    position: relative;
    width: 100%;
    text-align: center;
  }
  .secondSection h1 {
    font-size: 30px;
  }
  .secSectionColumn1 {
    height: 100%;
    margin: 0px -2px;
    padding: 0px 5px;
  }
  .secSectionColumn1 img {
    margin: 10px auto;
    width: 200px;
  }
  .secSectionColumn2 {
    height: 100%;
    margin: 0px -2px;
    padding: 0px 5px;
  }
  .secSectionColumn2 img {
    margin: 10px auto;
    width: 200px;
  }
  .secSectionColumn3 {
    height: 100%;
    margin: 0px -2px;
    padding: 0px 5px;
  }
  .secSectionColumn3 img {
    margin: 10px auto;
    width: 200px;
  }
}
/*=======================Sign Up Form =================================*/
@media screen and (min-width: 785px) {
  .signUpFormPage {
    height: 995px;
    width: 100%;
    opacity: 1;
    background: url(images/happy-people-on-beach-m.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: -50px;
    position: relative;
  }
  .signUpForm {
    width: 400px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(50, 110, 138, 0.9);
    padding: 20px 10px 20px 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  .signUpForm h2 {
    color: #fff;
  }
  .signUpForm h4 {
    color: #fff;
    font-size: 15px;
  }
  .signUpForm input {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    height: 40px;
  }
  .formFirstLastName {
    width: 188px;
    display: inline;
  }
}
@media screen and (max-width: 785px) {
  .signUpFormPage {
    height: 667px;
    width: 100%;
    opacity: 1;
    background: url(images/happy-people-on-beach-m.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: -50px;
    position: relative;
  }
  .signUpForm {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(50, 110, 138, 0.9);
    padding: 20px 10px 20px 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  .signUpForm h2 {
    color: #fff;
  }
  .signUpForm h4 {
    color: #fff;
    font-size: 15px;
  }
  .signUpForm input {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    height: 40px;
  }
  .formFirstLastName {
    width: 138px;
    display: inline;
  }
}
#signUpFormBtn {
  background-color: #a8e4b7;
  color: #326e8a;
}
#signUpFormBtn:hover {
  background-color: #cdb42b;
}
.signFormFooter {
  margin-top: 40px;
}
/*=================View Sign Ups ===========*/
.viewSignUpHeader {
  padding-top: 150px;
  width: 50%;
}
.searchResults {
  margin: 20px 0;
  width: 50%;
  border-radius: 5px;
}
.signUpsList {
  width: 100%;
  height: 995px;
  opacity: 1;
  background: url(images/blurred-new-cars-dealership-place-m.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  margin-top: -50px;
}
.outerFlipDiv {
  width: 60%;
  margin-left: 27%;
}
.flip {
  float: left;
  overflow: hidden;
  -webkit-perspective: 800;
  perspective: 800;
  position: relative;
}
.flipBasic {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform 0.5s;
  transition: transform .5s;
  -webkit-transform: perspective(800px) rotateY(0deg);
  transform: perspective(800px) rotateY(0deg);
  margin: 30px 0px 0px 10px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 250px !important;
  height: 200px !important;
}
.flipBasic h4 {
  font-size: 15px;
}
.flipBasic h3 {
  font-size: 20px;
}
.flipBasic h3 span {
  font-size: 30px;
}
.flipHideBack {
  -webkit-transform: perspective(800px) rotateY(180deg);
  transform: perspective(800px) rotateY(180deg);
}
.flipHideFront {
  -webkit-transform: perspective(800px) rotateY(-180deg);
  transform: perspective(800px) rotateY(-180deg);
}
/*=========Success==============*/
.successDiv {
  margin: 200px 0;
  height: 900px;
  width: 100%;
  background: #fff;
  background-size: cover;
}
/*====================Third Section ================*/
.thirdSection {
  opacity: 1;
  background: url(images/photodune-11222893-car-sell.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
@media screen and (min-width: 785px) {
  .learnMoreDesc {
    margin: 125px 0;
    width: 50%;
  }
  .learnMoreDesc p {
    margin-top: 15px;
    font-size: 17px;
  }
}
@media screen and (max-width: 785px) {
  .learnMoreDesc {
    width: 60%;
    margin: 125px 0;
  }
  .learnMoreDesc h1 {
    font-size: 30px;
  }
  .learnMoreDesc p {
    margin-top: 15px;
    font-size: 15px;
  }
}
/*===========Fourth Section ==============*/
.fourthSection {
  background: #f6f3e8;
  position: relative;
}
.benefitsSec {
  width: 70%;
  margin: 125px 0;
}
.benefitsSec p {
  margin-top: 15px;
  font-size: 17px;
}
/*===========Fifth Section ==============*/
.fifthSection {
  position: relative;
  opacity: 1;
  background: url(images/young-people-on-a-road-trip.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.fifthSecInner {
  margin: 150px 0;
  text-align: center;
}
#fifthSignUpBtn {
  font-weight: 700;
  font-size: 20px;
  border: none;
  width: 190px;
  height: 60px;
  margin: 0px 10px;
  border-radius: 0 !important;
  background-color: #a8e4b7;
  color: #333333;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
#fifthSignUpBtn:hover {
  background: #326e8a;
  color: #f6f3e8;
}
/*===================Footer==================*/
.footer-above {
  background-color: #326e8a;
  padding-top: 50px;
}
.footer-below {
  background-color: #e5e5e5;
  color: black;
}
#footSocMedia a {
  color: white;
}
#footNavText p a {
  color: #80878c;
}
#footNavText p a:hover {
  color: white;
}
#signInfooter {
  margin-top: 200px;
}
