<div class="main-hero-bg img-responsive" ng-controller="MainController">
	<div class="headerInfo" id="scrollStartMarker">
		<h1>Set Up Your Profile</h1>
		<h4>We want you to enjoy your car buying experience</h4>
		<div class="homeButtonGroup btn-group" role="group">
			<button ng-click="go('/signup')"class="btn btn-primary btn-lg" id="signUpBtn">Sign Up</button>
			<button anchor-smooth-scroll class="btn btn-primary btn-lg" id="learnMoreBtn">Learn More</button>
		</div>				
	</div>
	<div class="scrollArrowOuter">
		<div class="scrollArrow">
			<span><i anchor-smooth-scroll class="fa fa-angle-down fa-5x" aria-hidden="true"></i></span>
		</div>
	</div>
</div>


<div class="secondSection" id="scrollAnchor">
	<div class="secSectionTitle">
		<h1>Life is easier. With us.</h1>
	</div>
	<div class="secSectionColumn1">
		<img class="img-responsive" src="css/images/mobileImage1.jpg">
	</div>
	<div class="secSectionColumn2">
		<img class="text-center img-responsive" src="css/images/mobileImage1.jpg">
	</div>
	<div class="secSectionColumn3">
		<img class="text-center img-responsive" src="css/images/mobileImage1.jpg">
	</div>	
</div>
<div class="thirdSection container-fluid">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6" id="scrollAnchorTwo">
			<div class="learnMoreDesc">
				<h1>Hassle Free<br>Car Buying Experience</h1>
					<p>
						Today’s shoppers expect practical online tools that make the purchase process simpler and more efficient. They also expect a faster in-store transaction. Prepcar enhances the shopping experience by allowing dealers to match consumers with cars that meet each shopper's credit profile, lifestyle, and features preferences before they get to a dealership. Prepcar acts as a filter that returns only curated matching vehicles offers from multiple dealers. 
					</p>
					<p>Get started with PrepCar today to experience ultimate car buying experience.</p>
					
			</div>
			
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
<div class="fourthSection container-fluid">
	<div class="row">
		<div class="col-md-4">
			<img class="img-responsive" src="css/images/buylittlecar.jpg">
		</div>
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<div class="benefitsSec">
			<h1>Benefits for the Shoppers</h1>				
				<p>- Shop anonymously at multiple dealerships</p>
				<p>- Get personalized car matches and quotes from local dealers on your smartphone</p>
				<p>- No dealer phone calls or emails needed </p>
				<p>- No need to restart the sales process again at every dealership you visit.</p>
				<p>- Get pre-approved at multiple stores with a single click and without hurting your credit or having to fill-in endless forms on different dealers sites.</p>
			</div>
		</div>
	</div>
</div>
<div class="fifthSection container-fluid">
	<div class="fifthSecInner">
			<button ng-click="go('/signup')" class="btn btn-primary btn-lg" id="fifthSignUpBtn">Sign Up</button>			
	</div>
</div>

