<div class="main-hero-bg img-responsive" ng-controller="MainController">
	<!--
	Video background
	<video autoplay loop poster="polina.jpg" id="vid">
    <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm" type="video/webm">
    <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" type="video/mp4">
    </video>-->
	<div class="headerInfo" id="scrollStartMarker">
		<h1> <span class="typer"></span></h1>
		<h4>It's simple. We want to help you sell more cars</h4>
		<div class="homeButtonGroup btn-group" role="group">
			<button ng-click="go('/signup')"class="btn btn-primary btn-lg" id="signUpBtn">Sign Up</button>
			<button anchor-smooth-scroll class="btn btn-primary btn-lg" id="learnMoreBtn">Learn More</button>
		</div>				
	</div>
	<div class="scrollArrowOuter">
		<div class="scrollArrow">
			<span><i anchor-smooth-scroll class="fa fa-angle-down fa-5x" aria-hidden="true"></i></span>
		</div>
	</div>
</div>


<div class="secondSection" id="scrollAnchor">
	<div class="secSectionTitle">
		<h1>Life is easier. With us.</h1>
	</div>
	<div class="secSectionColumn1">
		<img class="img-responsive" src="css/images/mobileImage1.jpg">
	</div>
	<div class="secSectionColumn2">
		<img class="text-center img-responsive" src="css/images/mobileImage1.jpg">
	</div>
	<div class="secSectionColumn3">
		<img class="text-center img-responsive" src="css/images/mobileImage1.jpg">
	</div>	
</div>
<div class="thirdSection container-fluid">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6" id="scrollAnchorTwo">
			<div class="learnMoreDesc">
				<h1>Hassle Free<br>Car Selling Experience</h1>
					<p>
						Today’s shoppers expect practical online tools that make the purchase process simpler and more efficient. They also expect a faster in-store transaction. Prepcar enhances the shopping experience by allowing dealers to match consumers with cars that meet each shopper's credit profile, lifestyle, and features preferences before they get to a dealership. Prepcar acts as a filter that returns only curated matching vehicles offers from multiple dealers. 
					</p>
					<p>Get started with PrepCar today to experience ultimate car buying experience.</p>				
			</div>
			
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
<div class="fourthSection container-fluid">
	<div class="row">
		<div class="col-md-6">
			<img class="img-responsive pull-right" src="css/images/buylittlecar.jpg">
		</div>
		<div class="col-md-6">
			<div class="benefitsSec">
				<h1>Dealership Benefits</h1>				
				<p>- Pre-Screen every prospect: Leaves you more time for the important stuff... Sell Cars</p>
				<p>- Secure access to each shopper's full info including credit, budgets, income, shopping story, lifestyle etc</p>
				<p>- No set price to honor: You stay in control of the deal structure</p>
				<p>- Ability to reach thousands of shoppers at once at the tip of your fingertips</p>				
				<p>- Effective and targeted advertising</p>
			</div>
		</div>
	</div>
</div>
<div class="fifthSection container-fluid">
	<div class="fifthSecInner">
			<button ng-click="go('/signup')" class="btn btn-primary btn-lg" id="fifthSignUpBtn">Sign Up</button>			
	</div>
</div>

